@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    background-color: rgb(247, 231, 211);
}

/* section-1 part-navbar */

#navber {
    background-color: #074241 !important;
    color: #fff !important;
}

.navbar-brand {
    color: #fff !important;
    margin-left: 20px;
}

.navbar-nav li a {
    color: #fff !important;
    margin-right: 15px !important;
}



/* section-2 part-home-page */

#backgound {
    background-color: #074241;
    width: 100%;


}

.box-2 img {
    max-width: 67%;
    height: auto;
}

.box-1 {
    margin-left: 50px;
}

#row-1 {
    color: #fff !important;
    padding-top: 60px;
    padding-bottom: 80px;
}


/* section part-3 */

#row-2 {
    padding-top: 70px !important;
}

.services-section {
    width: 100%;
}

/* section part-4 */
.ul li {
    margin-top: 15px;
    font-size: 19px;

}

#row-4 {
    padding-top: 30px;
    padding-bottom: 80px;
}

#row-5 {
    padding-top: 50px !important;
    padding-bottom:80px !important;
}

.product-area {
    background-color: rgb(252, 239, 239) !important;
}


/* section parti-5 */
#row-6{
    padding-top: 80px;
    padding-bottom: 60px;
}

#h1{
    padding-top:90px !important ;
}

#hr{
    margin: 0;

}

.text-p{
    /* color: #055160; */
    color: #fff;
    text-align: justify;
}

#row-8{
    padding-top: 80px;
}
.box-11{
    font-size: 12px;
    color:#189cb6 ;
    
}
.box-12{
    text-align: center;
}
.box-12 ul li a{
    color: #189cb6;
    text-decoration:none;

}


.text li {
    margin-top: 15px;
    list-style: none;
    text-align: justify;
}